.five {
    display: flex;
    flex-direction: column;
//  justify-content: space-between;
    background: #fafafa;
    height: 100%;
    & .five-top {
        margin-top: 48px;
        height: 184px;
        background: #fff;
        padding: 14px 15px 0px;
        >div {
            display: flex;
            border-bottom: 2px solid #eee;
            padding-bottom: 15px;
            & .five-top-left {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70px;
                height: 70px;
                background: #ececec;
                border-radius: 50%;
                margin-left: 20px;
                & p {
                    width: 66px;
                    height: 66px;
                    background: linear-gradient(to right, #f75f5b, #fead50);
                    border-radius: 50%;
                }
            }
            & .five-top-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
                & p {
                    color: #aaa;
                    font-size: 16px;
                    & span {
                        margin-left: 6px;
                    }
                    & button {
                        color: #f97957;
                        border: none;
                        background: none;
                    }
                }
            }
        }
        >ul {
            display: flex;
            justify-content: space-between;
            & li {
                display: flex;
                flex-direction: column;
                width: 25%;
                justify-content: center;
                align-items: center;
                & img{
                    width: 38px;
                    height: 38px;
                    margin-top:12px;
                }
                & span{
                    color: #2d2d2d;
                    margin: 10px 0px;
                }
            }
        }
    }
    & .five-content{
        margin-top: 20px;
        border-top: #e8e8e8 2px solid;
        background: #fff;
        > ul{
            padding-left: 15px;
            & li{
                display: flex;
                justify-content: space-between;
                height: 52px;
                border-bottom: 1px solid #e8e8e8;
                align-items: center;
                font-size: 16px;
                & .five-content-nav{
                    display: flex;
                    > i{
                        color: red;
                        margin: 0px 15px;
                        font-size: 26px;
                    }
                    & p{
                        color: #5d5d5d;
                        font-size: 16px;
                    }
                }
                > i{
                    margin-right: 15px;
                    color: #ccc;
                }
            }
        }
    }
}