.four {
    position: relative;
    height: 100%;
    .one-top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 46px;
        position: fixed;
        top: 0px;
        background: #dc3b40;
        & ul {
            border: 1px solid #fff;
            display: flex;
            height: 32px;
            border-radius: 4px;
            align-items: center;
            & li {
                font-size: 16px;
                padding: 0px 14px;
                height: 32px;
                line-height: 32px;
                color: #fff;
            }
            & .router-link-exact-active.router-link-active{
                background: #fff;
                color: #dc3b40;
            }
        }
    }
    & .four-conter{
        height: 100%;
    }
}