.van-notice-bar {
    display: flex;
    align-items: center;
    background: #fff !important;
    color: #333;
    height: 46px;
    padding: 0px 14px !important;
}

.van-notice-bar__left-icon {
    color: #dc3b40;
}

.van-nav-bar,
.van-nav-bar__right {
    height: 46px;
}

.add {
    align-items: center;
    height: 46px;
    border-bottom: 1px solid #E9E9E9;
    background: #fff;
}

.one-center {
    ul {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        margin: 6px 0px;
        width: 100%;
        border-top: 1px solid #DFE4ED;
        & li {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border: 1px solid #DFE4ED;
            border-top: 0px solid #DFE4ED;
            border-left: 0px solid #DFE4ED;
            width: 33%;
            padding: 5px 0 10px;
            & img {
                margin: 5px 0px 10px;
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            & h5 {
                font-weight: 400;
                color: #333;
            }
        }
        & .lotter-list {
            & i {
                margin: 5px 0px 10px;
                color: #fa7e00;
                font-size: 50px !important;
            }
        }
        & li:nth-child(3n) {
            border-right: 0px;
        }
    }
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    margin: 0;
}

.el-carousel__container {
    height: 180px !important;
}

.el-carousel {
    height: 180px !important;
}

.el-carousel__indicators {
    display: none;
}

.el-carousel {
    //  margin-top: 46px;
}

.el-carousel__item:nth-child(2n+1),
.el-carousel__item:nth-child(2n) {
    background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523517614&di=c89353908a351e1da119b975cb2c67a0&imgtype=jpg&er=1&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F16%2F47%2F53%2F32658PICXjm_1024.jpg') no-repeat center center;
    //  background: url(../../assets/img/home/one/banner.jpg) no-repeat center center;
    background-size: 100% 100%;
}