
<div class="third-platform">
        <ul class="bal">
            <li>
                <div class="d-flex align-items-center">
                    <label>账户总额</label>
                    <span class="text-danger">￥{{totalBal | round3}}</span>
                </div>
                <nuxt-link to="/admin/payment">
                    <el-button type="primary" class="charge-button">充&nbsp;值</el-button>
                </nuxt-link>
            </li>
            <li>
                <div class="d-flex align-items-center">
                    <label>可提金额</label>
                    <span class="text-danger">￥<strong>{{bal | round3}}</strong></span>
                </div>
                <nuxt-link to="/admin/payment/withdraw">
                    <el-button type="primary" class="withdraw-button">提&nbsp;款</el-button>
                </nuxt-link>
            </li>
        </ul>
        <!-- container-fluid make-container() ,bootstrap\scss\mixins\_grid.scss:5-->
        <div class="container-fluid">
            <ul class="row third-platform-list">
                <li class="col-3 d-flex align-items-center justify-content-between" v-for="(item,index) in list" :key="item.id">
                    <div>
                        <h4>{{item.prefix}}</h4>
                        <span v-if="getStatus(item) === '进入'">余额：{{availableGames[item.prefix] && availableGames[item.prefix].balance | round3}}</span>
                    </div>
                    <el-button type="primary" :disabled="getStatus(item) === '未开放'" :loading="!!loadings[index]" @click="sign(item,index)">{{getStatus(item)}}</el-button>
                </li>
            </ul>
        </div>
        <transition name="el-fade-in">
            <el-form :model="form" :rules="rules" ref="form" label-width="82px" v-if="transInList.length > 1">
                <div class="el-form-firstnode">
                    <el-form-item label="转出账户：" prop="transOut">
                        <el-select v-model="form.transOut" @change="change(null,'out')">
                            <el-option v-for="item in transOutList" :label="item.name" :value="item.prefix" :key="item.prefix" :disabled="item.disabled" />
                        </el-select>
                    </el-form-item>
                    <el-form-item label="转入账户：" prop="transIn">
                        <el-select v-model="form.transIn" @change="change(null,'in')">
                            <el-option v-for="item in transInList" :label="item.name" :value="item.prefix" :key="item.prefix" :disabled="item.disabled" />
                        </el-select>
                    </el-form-item>
                </div>
                <el-form-item label="转入金额：">
                    <el-select v-model="form.amount" @change="amountChange">
                        <el-option v-for="amount in hotAmounts" :label="amount" :value="amount" :key="amount"/>
                    </el-select><b>(最低100元,最高49999元)</b>
                    <!--<el-input-number v-model="form.amount" @change="amountChange" controls-position="right" :min="100"></el-input-number>最低转入50元
                    <el-radio-group v-model="hotAmount" size="small" @change="hotAmountChange">
                        <el-radio-button v-for="amount in hotAmounts" :label="amount" :key="amount"></el-radio-button>
                    </el-radio-group>-->
                </el-form-item>
                <el-form-item label="资金密码：" prop="pw">
                    <el-input type="password" v-model="form.pw" @keyup.native.enter="sumbit" placeholder="请输入资金密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="sumbit" :loading="loading">确认</el-button>
                </el-form-item>
            </el-form>
        </transition>
    </div>