<div class="regist">
    <div class="l_top">
        <div class="l_logo"><img src="../../assets/img/login/login_logo.png" alt=""></div>
    </div>
    <div class="l_min">
        <div class="yhzc">
            <nuxt-link to="/login"><br>已<br>有<br>账<br>号<br>!<br> <span>立<br>即<br>登<br>录<br><i class="icon iconfont">&#xe68d;</i></span></nuxt-link>
        </div>
        <div class="dlk">
            <div class="dlk_l">
                <el-form :model="form" :rules="rules" ref="form" @submit.native="submit">
                    <el-form-item prop="name">
                        <el-input v-model="form.name" placeholder="请输入用户名"></el-input>
                    </el-form-item>
                    <el-form-item prop="nick_name">
                        <el-input v-model="form.nick_name" placeholder="请输入昵称" :maxlength="8"></el-input>
                    </el-form-item>
                    <el-form-item prop="real_name">
                        <el-input v-model="form.real_name" placeholder="请输入真实姓名" :maxlength="8"></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input v-model="form.password" type="password" placeholder="请输入密码" @keyup.native.enter="submit"></el-input>
                    </el-form-item>
                    <el-form-item v-if="isCommonUser" prop="code">
                        <div class="code">
                            <el-input v-model="form.code" placeholder="请输入验证码" @focus="validateCaptcha = false"></el-input>
                            <img :src="captchaCode" @click="getCaptcha" alt="">
                        </div>
                    </el-form-item>
                    <el-button type="primary" @click="submit">立即注册</el-button>

                </el-form>
                <!-- <form class="loginform" action="" @submit.prevent>
                    <div class="username"><input type="text" placeholder="请输入用户名" v-model="form.name"><div class="help-inline">例如：facai666</div></div>
                    <div class="username"><input type="text" placeholder="请输入昵称" v-model="form.nickName"><div class="help-inline">例如：发财666</div></div>
                    <div class="username"><input type="text" placeholder="请输入真实名字" v-model="form.realName"><div class="help-inline">例如：发财666</div></div>
                    <div class="password"><input type="password" placeholder="请输入密码" v-model="form.pw"><div class="help-inline">数字、字母</div></div> -->
                <!-- <div class="password"><input type="password" placeholder="确认密码" v-model="form.pw"><div class="help-inline">手动输入，粘贴无效。</div></div> -->
                <!-- <div class="password"><input type="email" placeholder="邮箱"><div class="help-inline">邮箱格式，例ued@163.com</div></div> -->
                <!-- <div class="code"><input class="xcode" type="text" placeholder="请输入验证码"><img src="../../assets/img/login/login_code.jpg" alt=""></div> -->
                </form>
            </div>
            <!-- <div class="dlk_r">
                <div class="swiper-container" v-swiper:mySwiper="swiperOption">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="main2-center">
                                <a href="#">
                                    <img src="~/assets/img/login/login_focus1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="main2-center">
                                <a href="#">
                                    <img src="~/assets/img/login/login_focus2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="tip">有问题咨询在线客服? <a href="">联系客服</a> </div>
            </div> -->
        </div>
    </div>
</div>
