<div class="manager">
  <div class="members-nav">
	  <ul>
	    <nuxt-link to="/admin/user" tag="li">
	      <span>个人中心</span>
	    </nuxt-link>
	    <nuxt-link to="/admin/payment" tag="li">
	      <span>账务中心</span>
	      <div class="members-accounting">
	      	<nuxt-link to="/admin/payment"><p class="active">充值</p></nuxt-link>
	          <nuxt-link to="/admin/payment/withdraw"><p>提现</p></nuxt-link>
	          <nuxt-link to="/admin/payment/third_platform"><p>转账</p></nuxt-link>
	          <nuxt-link to="/admin/payment/charge_report"><p>充值记录</p></nuxt-link>
	          <nuxt-link to="/admin/payment/withdraw_report"><p>提现记录</p></nuxt-link>
	          <nuxt-link to="/admin/payment/platform_report"><p>转账记录</p></nuxt-link>
	      </div>
	    </nuxt-link>
	    <nuxt-link to="/admin/report" tag="li">
	      <span>订单报表</span>
	    </nuxt-link>
	    <nuxt-link to="/admin/agent" tag="li">
	      <span>代理管理</span>
	    </nuxt-link>
	    <nuxt-link to="/admin/playhelp" tag="li">
	      <span>玩法介绍</span>
	    </nuxt-link>
	  </ul>
    <!--<ul class="gn_ul">
      <li>
        <nuxt-link to="/admin/user">
          <i class="icon iconfont">&#xe693;</i>个人中心</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/admin/payment">
          <i class="icon iconfont">&#xe65f;</i>财务中心</nuxt-link>
      </li>
      <li v-show="isAgent">
        <nuxt-link to="/admin/agent">
          <i class="icon iconfont">&#xe660;</i>代理中心</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/admin/report">
          <i class="icon iconfont">&#xe65e;</i>报表记录</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/admin/message">
          <i class="icon iconfont">&#xe663;</i>消息中心</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/admin/playhelp">
          <i class="icon iconfont">&#xe658;</i>玩法介绍</nuxt-link>
      </li>
    </ul>-->
  </div>
  <div class="m_content">
    <div class="mc_list">
      <nuxt-child/> </div>
  </div>
</div>