<div class="x_con-li">
    <div class="Team_member">
        <div class="menber_head">
            <div class="t">
                <ul>
                    <li><i class="icon iconfont"></i>
                    <!--<li><i class="icon iconfont">&#xe687;</i>-->
                    	<div>
                    		<h3 class="js">团队成员</h3>
                    		<div class="td">
                    			<p>代理：<span>{{member_count[1]}}</span>人</p>
                    			<p>玩家：<span>{{member_count[0]}}</span>人</p>
                    		</div>
                    	</div>
                    </li>
                    <li><i class="icon iconfont"></i>
                    <!--<li><i class="icon iconfont">&#xe675;</i>-->
                    	<div>
                    		<h3 class="js">团队余额</h3>
                    		<div class="td"><span>{{team_total_balance | round3}}</span>元</div>
                    	</div>
                    </li>
                    <li><i class="icon iconfont"></i>
                    <!--<li><i class="icon iconfont">&#xe675;</i>-->
                    	<div>
                    		<h3 class="js">昨日收入</h3>
                    		<div class="td"><span>{{team_total_balance | round3}}</span>元</div>
                    	</div>
                    </li>
                    <li><i class="icon iconfont"></i>
                    <!--<li><i class="icon iconfont">&#xe675;</i>-->
                    	<div>
                    		<h3 class="js">累计收入</h3>
                    		<div class="td"><span>{{team_total_balance | round3}}</span>元</div>
                    	</div>
                    </li>
                    <!--<li><i class="icon iconfont">&#xe698;</i><div><h3 class="js">直属下级</h3><p class="td"><span>{{proxy_count[1]}}</span>人</p></div></li>
                    <li><i class="icon iconfont">&#xe669;</i><div><h3 class="js">非直属下级</h3><p class="td"><span>{{no_proxy_count[1]}}</span>人</p></div></li>-->
                </ul>
            </div>
            <div class="d">
                <div class="dt">
                	<div class="dt-top">
                		<p>项目选择：</p>
                		<button class="active">团队</button>
                		<button>代理</button>
                	</div>
                    <div class="kx fl_l">
                        <el-button :type="dayIndex === index ? 'primary' : ''" v-for="(item,index) in daysRange" :key="index" @click="getDaysRange(item[1],index)">{{item[0]}}
                        </el-button>
                        <el-date-picker v-model="date" type="daterange" start-placeholder="开始日期" end-placeholder="结束日期" :range-separator="rangeSeparator" @change="handlePicker" ref="datepicker" :picker-options="pickerOpt" @focus="handleFocus" align="right">
                        </el-date-picker>
                        <el-button type="primary" @click="get">查询</el-button>
                    </div>

                </div>
                <div class="dd">
                    <ul>
                        <li v-for="(item,index) in chartOpt" :key="index" v-if="index < 5">
                            <i class="icon iconfont" v-html="icons[index]"></i> {{item.name}}
                            <span>{{item.data | sum }}</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div v-loading="loading.on" :element-loading-text="loading.text" class="chart-wrap">
                <!--use v-if on chart ref make echar mount on .text-center div,use v-show at there-->
                <div class="chart" id="chart" ref="chart" v-show="chartOpt.length"></div>
                <div class="chart-empty align-items-center justify-content-center" v-show="chartText">
                    {{chartText}}
                </div>
                <el-checkbox :indeterminate="isIndeterminate" v-model="legendCheckAll" @change="legendAllChange" v-show="chartOpt.length" class="chart-check-all">全选</el-checkbox>
            </div>
        </div>
    </div>
</div>