.datum {
    & .datum-top {
        background: #fff;
        padding: 0px 12px;
        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            >div {
                display: flex;
                align-items: center;
            }
        }
        & i {
            margin-left: 10px;
            color: #777;
            font-size: 20px;
        }
        & li:nth-child(1) {
            height: 68px;
            border-bottom: 1px solid #E8E8E8;
            >div {
                & img {
                    width: 50px;
                    height: 50px;
                    border-radius: 4px;
                }
            }
        }
        & li:nth-child(2) {
            height: 58px;
            >div {
                & input {
                    color: #E8E8E8;
                    border: none;
                    text-align: right;
                    padding: 0px 4px;
                }
                & input.active {
                    border: 1px solid antiquewhite;
                    text-align: left;
                    color: #333;
                }
            }
        }
        & li:nth-child(3) {
            height: 58px;
            >div {
                & p {
                    margin-right: 10px;
                }
            }
        }
    }
    & .datum-btn {
        background: #fff;
        padding: 0px 12px;
        margin-top: 16px;
        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            height: 52px;
            >div {
                display: flex;
                align-items: center;
            }
        }
        & i {
            margin-left: 10px;
            color: #777;
            font-size: 20px;
        }
        & li:nth-child(3) {
            & select {
                width: 42px;
                border: none;
                line-height: 22px;
                font-size: 16px;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
        }
    }
}

.datum-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    & p {
        font-size: 16px;
    }
    & img {
        width: 110px;
        height: 110px;
        border-radius: 4px;
    }
}

.datum-img-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    & .datum-hide{
        position: relative;
        width: 80%;
        overflow: hidden;
        overflow-x: auto;
        & .datum-imgs {
            position: absolute;
            left: 0;
            padding: 1px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            & li {
                margin: 0px 6px;
                & img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
    
}
.datum-but{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    & button{
        border: none;
        color: #fff;
        width: 120px;
        height: 30px;
        border-radius: 4px;
        font-size: 14px;
    }
    & button:nth-child(1){
        background: #fd4f42;
        margin-right: 6px;
    }
}
