.recharge_con{
  li{
    a:not([href]):not([tabindex]) {
      color:#666;
      text-decoration: none;
    
      @include hover-focus {
        color:#666;
        text-decoration: none;
      }
    
      &:focus {
        outline: 0;
      }
    }
    .active{
      color:#fff!important;
    }
  }
}