.klc {
    height: 100%;
    overflow-y: scroll;
    ul {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        margin: 6px 0px;
        width: 100%;
        border-top: 1px solid #DFE4ED;
        & li {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border: 1px solid #DFE4ED;
            border-top: 0px solid #DFE4ED;
            border-left: 0px solid #DFE4ED;
            width: 33%;
            padding: 5px 0 10px;
            & img {
                margin: 5px 0px 10px;
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            & h5 {
                font-weight: 400;
                color: #333;
            }
        }
    }
}