.betssc {
    & .betssc-top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 46px;
        font-size: 20px;
        background: linear-gradient(to right, #f75f5b, #fead50);
        & i {
            position: absolute;
            left: 16px;
            color: #fff;
        }
        & p {
            color: #fff;
        }
    }
}