.profit {
    margin-top: 46px;
    background: #fff;
    ul {
        & li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
            height: 60px;
            border-bottom: 1px solid #345476;
            & .profit-left {
                display: flex;
                & img {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
                & .profit-xq {
                    & p {
                        font-size: 14px;
                        & span {
                            color: red;
                        }
                    }
                }
                & .profit-xq p:nth-child(1) {
                    & span {
                        color: blue;
                    }
                }
            }
            & .profit-right {
                display: flex;
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
                font-size: 16px;
            }
        }
        & li:nth-child(1) .profit-right span,
        & li:nth-child(2) .profit-right span,
        & li:nth-child(3) .profit-right span {
            display: inline-block;
            color: #fff;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background: #C5575A;
            border-radius: 50%;
        }
        & li:nth-child(2) .profit-right span {
            background: #53b0fe;
        }
        & li:nth-child(3) .profit-right span {
            background: #f8a968;
        }
    }
}