.registered-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    position: fixed;
    top: 0px;
    height: 46px;
    width: 100%;
    background: linear-gradient(to right, #f75f5b, #fead50);
    z-index: 12;
    & i {
        position: absolute;
        left: 16px;
    }
    & b {
        position: absolute;
        right: 16px;
        background: none;
        font-weight: 400;
    }
}

.registered {
    display: flex;
    height: 100%;
    background: #fafafa;
    flex-direction: column;
    & .registered-content {
        width: 100%;
        & ul {
            margin-top: 66px;
            background: #fff;
            border-top: 1px solid #c6c6c6;
            & li {
                position: relative;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #c6c6c6;
                height: 40px;
                padding: 0px 16px;
                & span {
                    font-size: 16px;
                    width: 22%;
                }
                & input {
                    border: none;
                    font-size: 16px;
                }
                & i{
                    font-size: 20px;
                    position: absolute;
                    right:20px;
                    color: #ddd;
                }
                & img{
                    width: 100px;
                    height: 40px;
                }
            }
        }
    }
    & a{
        padding: 0px 16px;
        text-align: right;
        margin-top: 20px;
        color: #dc3b40;
        font-size: 14px;
    }
    & .registered-go {
        border: none;
        margin-top: 20px;
        padding: 0px 16px;
        & button {
            width: 100%;
            border: none;
            height: 45px;
            background: #fd4f42;
            font-size: 18px;
            color: #fff;
            border-radius: 6px;
        }
    }
}
.login-pop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 15;
  background: rgba(0, 0, 0, 0.2);
  > div {
    display: flex;
    align-items: center;
    line-height: 32px;
    background: #fff;
    border-radius: 6px;
    padding: 0px 10px;
    & i {
      margin-right: 8px;
    }
  }
}